body {
    flex-direction: row;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 10px;
}

.Barra{
    width: 35%;
}

.Navegacion{
    display: flex;
}

li{
    list-style-type: None;
}

.Perfiles_en_chat{
    margin: 20px;
}

.Conversacion{
    margin: 20px;
    
}
