


/* Footer styles */
footer {
    background-color: #626262;
    color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    flex-wrap: wrap;
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #939393;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 12px;
}

.footer-bottom a{
    text-decoration: none;
    color: #f4f7fa;
}

.footer-bottom td:hover {
    color:#323232;
    font-size: 10px; 
    transition: color 0.6s ease; 
}
 
.footer-bottom table {
    border-collapse: separate; /* Asegura que el espaciado se aplique */
    border-spacing: 220px 10px; /* Establece la distancia entre celdas, el primer px es la distancia horizontal y el segundo px es la distancia vertical*/
}